<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="menu">
      <ul>
          <li><a href="{{ site.baseurl }}">anasayfa</a></li>
          <li><a href="{{ site.baseurl }}cv">özgeçmiş</a></li>
          <li><a href="{{ site.baseurl }}blog">blog</a></li>
          <li><a href="{{ site.baseurl }}casts">*casts</a></li>
          <li><a href="{{ site.baseurl }}bookmarks">yer imleri</a></li>
          <li><a href="{{ site.baseurl }}contact">iletişim</a></li>
      </ul>
    </div>
  </div>
</div>
