<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="menu">
      <ul>
          <li><a href="{{ site.baseurl }}">home</a></li>
          <li><a href="{{ site.baseurl }}blog">blog</a></li>
          <li><a href="https://www.unsplash.com/@godilman" target="_blank">photos</a></li>
          <li><a href="{{ site.baseurl }}bookmarks">bookmarks</a></li>
          <li><a href="https://www.goodreads.com/godilman" target="_blank">goodreads</a></li>
          <!--<li><a href="{{ site.baseurl }}contact">contact</a></li>-->
          <li><a href="https://formkeep.com/p/3af10e85c7b28ad09206784fbdd37ef0" target="_blank">contact</a></li>
      </ul>
    </div>
  </div>
</div>
