<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="menu">
      <ul>
          <li><a href="{{ site.baseurl }}">home</a></li>
<!--          <li><a href="{{ site.baseurl }}blog">blog</a></li>-->
          <li><a href="https://www.unsplash.com/@godilman" target="_blank">photos</a></li>
          <li><a href="https://raindrop.io/godilman/bookmarks-38740731" target="_blank">bookmarks</a></li>
          <li><a href="https://www.goodreads.com/godilman" target="_blank">goodreads</a></li>
          <!--<li><a href="{{ site.baseurl }}contact">contact</a></li>-->
          <li><a href="https://t.me/godilman" target="_blank">contact</a></li>
      </ul>
    </div>
  </div>
</div>
